body {
	font-family: Palatino, URW Palladio L, serif;
    font-size: 20px;
    line-height: 1.8;
    background-color: #364156;
  }

p {font-size: 16px;
    color: #364156;
}
h1 {
  text-align: center;
  font-weight:bold;
}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  background-color:#cccccc;
  padding-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(1100px - (5px));
}
.header {
  overflow: hidden;
  padding: 20px 10px;
  margin-bottom: 0.5em;
  font-color: #011638;
  background-color: #011638;
} 
.footer {
  overflow: hidden;
  background-color:#011638;
  padding: 10px 20px;
  margin-top: 10px;
}
/* Add a black background color to the top navigation */
.topnav {
  color: #eeeeee;
  overflow: hidden;
  background-color: #5b9ace;
  margin-bottom: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #eeeeee;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #364156;
  color: white;
}


.header a {
  float: left;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px;
  text-decoration: none;
  font-size: 50px;
  font-family: Palatino, URW Palladio L, serif;
  border-radius:4px;
  margin-right:10px;
  background-color: #011638;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #5b9ace;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color:#B5838D;
  color: white;
}
.row{
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

}
